custom.el
.emacs.d
.cache
elpa
eshell/
url/
recentf
transient
auto-save-list
projects
projectile-bookmarks.eld
.lsp-session-v1
cider-history
.persistent-scratch
.mc-lists.el
straight/*
!straight/versions
straigh/versions/*
!straight/versions/default.el
